@import url("https://fonts.googleapis.com/css2?family=Thasadith:wght@700&family=Yusei+Magic&display=swap");
:root {
  --backgroundSize: 500px;
}

body {
  background-image: url(rain.png);
  background-size: var(--backgroundSize);
  animation: movingBackground 5s linear infinite;

  user-select: none;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #333;
  font-family: "Yusei Magic", sans-serif;
  font-size: 50px;
}

@keyframes movingBackground {
  from {
    background-position: var(--backgroundSize) 0;
  }
  to {
    background-position: 0 var(--backgroundSize);
  }
}
